//В ЭТОМ ФАЙЛЕ ЗАДАЕМ ПЕРЕМЕННЫЕ
//===== Colors =====//
//По дизайну
//После правок
$main-dark: #142025;//в основном у шрифтов
$main-light: #fbb040;

//===== Fonts =====//
// Определяем шрифты
$main-font: 'Open Sans', sans-serif;

//Цвет шрифтов
$f-main_light: #9ea5a8;
$f-colorize:#f7102b;
$f-colorize_dark:#f7102b;
$f-grey: #6b7376;

$white: #f0f0f0;

//Цвет бордюров
$main-border-color: #e6e6e6;
